doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        // main style file
        link(rel="stylesheet", href="css/style.css", attr)
        // FHF javascript file
        script(src="../node_modules/fhf/dist/js/FHF.js" defer)
        // FHF style file
        link(rel="stylesheet", href="../node_modules/fhf/dist/css/FHF.css")
    body 
        header
            .container
                img(src="images/pattern-rings.svg", alt="")
                .title
                    h2 Mahdi Amari
                .image
                    img(src="images/image-profile-tablet.png", alt="alt")
                    .icons
                        i(class="fa-brands fa-github")
                        i(class="fa-brands fa-instagram")
                        i(class="fa-brands fa-linkedin")
                    .bg
                .content
                    h1 Nice to meet you! 
                        br 
                        | i'm 
                        span Mahdi Amari
                    p Based in the Tunisia, I'm a front-end developer passionate about building accessible web apps that users love.
                    a(href="#contactMe") contact me
        main.skills 
            .container
                .html
                    h3 html
                    p 3 Years Experience
                .css
                    h3 css
                    p 3 Years Experience
                .js
                    h3 javascript
                    p 3 Years Experience
                .python
                    h3 python
                    p 2 Years Experience
                .c
                    h3 c
                    p 2 month Experience
                .php
                    h3 php
                    p 2 month Experience
                .sass
                    h3 sass
                    p 3 month Experience
                .pug
                    h3 pug
                    p 1 month Experience
                .ts
                    h3 typescript
                    p 1 month Experience
                .reactJs
                    h3 react js
                    p 1 month Experience
                .vueJs
                    h3 vue js
                    p 1 month Experience
                .gulp
                    h3 gulp js
                    p 1 month Experience
                img(src="images/pattern-rings1.svg", alt="")
        main.projects
            .container
            